# IDE files
.idea
.vscode
.DS_Store

# Build and binaries
router/router
router/configuration_schema.json

# Secrets
router/.env
router/entitlement.jwt

# Redis
router/dump.rdb

# Node
**/node_modules
